# Data Science Tools and Ecosystem

## Author
UMAR NSUBUGA

In this notebook, Data Science Tools and Ecosystem are summarized.

COMMONLY USED LANGUAGES OF DATA SCIENCE
1. python
2. r
3. sql

COMMONLY USED LABRARIES FPR DATA SCIENTISTS
* pandas
* numpy
* matplotlib
* seaborn

|Data Science Tool|
|-----------------|
| Jupyter Notebook|         
| RStudio         |         
| Apache Zeppelin |

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#200 minutes into hours
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

 **OBJECTIVES**
- List popular languages for Data Science  
- Identify commonly used Data Science tools  - - Create and format Markdown cells in a Jupyter Notebook
- Understand how to organize content using headings and lists  
- Build simple tables using Maerkdown