<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6.0/6.0 MB 130.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... one
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ...done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-linux_x86_64.whl size=1160111 sha256=9e15ddee7fa0b00687a30fc0960cb32a7fb56f6b8fdd12293b851381e2003000
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/b3/1c/42/0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.37
    Uninstalling SQLAlchemy-2.0.37:
      Successfully uninstalled SQLAlchemy-2.0.37
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 5.2.1 requires SQLAlchemy>=1.4.1, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.17.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.45-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (9.5 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.4-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.45-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (3.3 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3.3/3.3 MB 38.9 MB/s eta 0:00:00
Downloading prettytable-3.17.0-py3-none-any.whl (34 kB)
Downloading sqlparse-0.5.4-py3-none-any.whl (45 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.17.0 sqlalchemy-2.0.45 sqlparse-0.5.4
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (3.17.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
from sqlalchemy import create_engine
import pandas as pd

# Create SQLAlchemy engine
engine = create_engine('sqlite:///spacex.db')

# Load data
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Write to database
df.to_sql("SPACEXTBL", engine, if_exists='replace', index=False)

# Task 1: Display the names of the unique launch sites
query = 'SELECT DISTINCT "LaunchSite" FROM SPACEXTBL ORDER BY "LaunchSite";'
result = pd.read_sql_query(query, engine)

print("Unique Launch Sites:")
print(result)

engine.dispose()

Unique Launch Sites:
  "LaunchSite"
0   LaunchSite


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
import pandas as pd
import sqlite3

# Connect to database
con = sqlite3.connect('spacex.db')

# Execute SQL query and get results as DataFrame
df = pd.read_sql_query("SELECT * FROM SPACEXTBL", con)

# Display first few rows
print(df.head())

# Close connection
con.close()

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
import pandas as pd
import sqlite3

con = sqlite3.connect('spacex.db')

# Task 3: Handle different NASA/CRS naming patterns
sql_task3_alt = '''
SELECT 
    SUM("PayloadMass") as "TotalPayloadMass",
    COUNT(*) as "MissionCount"
FROM SPACEXTBL 
WHERE UPPER("Customer") LIKE '%NASA%' 
   OR UPPER("Customer") LIKE '%CRS%'
   OR UPPER("Customer") LIKE '%COMMERCIAL RESUPPLY SERVICES%';
'''

result = pd.read_sql_query(sql_task3_alt, con)

print("ðŸŒŒ NASA/CRS PAYLOAD MASS ANALYSIS")
print("-" * 40)

total_mass = result['TotalPayloadMass'].iloc[0]
mission_count = result['MissionCount'].iloc[0]

if mission_count > 0:
    print(f"\nâœ… Results:")
    print(f"   Missions for NASA/CRS: {mission_count}")
    print(f"   Total payload mass: {total_mass:,.2f} kg")
    print(f"   Average per mission: {total_mass/mission_count:,.2f} kg")
else:
    print("âŒ No NASA/CRS missions found")

con.close()

ðŸŒŒ NASA/CRS PAYLOAD MASS ANALYSIS
----------------------------------------

âœ… Results:
   Missions for NASA/CRS: 32
   Total payload mass: 0.00 kg
   Average per mission: 0.00 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
import pandas as pd
import sqlite3

# Connect to database
con = sqlite3.connect('spacex.db')

print("=" * 70)
print("TASK 4: Average payload mass carried by booster version F9 v1.1")
print("=" * 70)

# SQL query for Task 4
sql_task4 = '''
SELECT 
    AVG("PayloadMass") as "AveragePayloadMass",
    COUNT(*) as "NumberOfLaunches",
    MIN("PayloadMass") as "MinPayloadMass",
    MAX("PayloadMass") as "MaxPayloadMass"
FROM SPACEXTBL 
WHERE "BoosterVersion" = 'F9 v1.1';
'''

# Execute query
df_result = pd.read_sql_query(sql_task4, con)

# Extract values
avg_mass = df_result['AveragePayloadMass'].iloc[0]
num_launches = df_result['NumberOfLaunches'].iloc[0]
min_mass = df_result['MinPayloadMass'].iloc[0]
max_mass = df_result['MaxPayloadMass'].iloc[0]

# Display result
if num_launches > 0:
    print(f"\nâœ… Results for F9 v1.1:")
    print(f"   â€¢ Number of launches: {num_launches}")
    print(f"   â€¢ Average payload mass: {avg_mass:,.2f} kg")
    print(f"   â€¢ Minimum payload mass: {min_mass:,.2f} kg")
    print(f"   â€¢ Maximum payload mass: {max_mass:,.2f} kg")
    print(f"   â€¢ Range: {max_mass - min_mass:,.2f} kg")
else:
    print(f"\nâŒ No launches found for booster version F9 v1.1")
    print("   Checking available booster versions...")
    
    # Check what booster versions exist
    versions_query = 'SELECT DISTINCT "BoosterVersion" FROM SPACEXTBL ORDER BY "BoosterVersion";'
    versions = pd.read_sql_query(versions_query, con)
    print("\nAvailable booster versions:")
    print(versions.to_string(index=False))

con.close()

======================================================================
TASK 4: Average payload mass carried by booster version F9 v1.1
======================================================================

âŒ No launches found for booster version F9 v1.1
   Checking available booster versions...

Available booster versions:
"BoosterVersion"
  BoosterVersion

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
import pandas as pd
import sqlite3

con = sqlite3.connect('spacex.db')

# Most concise solution assuming exact column names
result = pd.read_sql_query(
    '''SELECT MIN("Date") as FirstDate 
       FROM SPACEXTBL 
       WHERE "Outcome" = 'Success' AND "LandingPad" LIKE '%ground%';''', 
    con
)

print(f"First successful ground landing: {result['FirstDate'].iloc[0]}")
con.close()

First successful ground landing: None

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [19]:
import pandas as pd
import sqlite3

# Connect to database
con = sqlite3.connect('spacex.db')

print("=" * 80)
print("TASK 6: Boosters with drone ship success and payload mass 4000-6000 kg")
print("=" * 80)

# SQL query for Task 6
sql_task6 = '''
SELECT DISTINCT "BoosterVersion"
FROM SPACEXTBL 
WHERE ("Outcome" = 'Success' OR "LandingOutcome" = 'Success')
  AND ("LandingPad" LIKE '%drone%' OR "LandingPad" LIKE '%ASDS%' OR "LandingPad" LIKE '%ship%')
  AND "PayloadMass" > 4000 
  AND "PayloadMass" < 6000
ORDER BY "BoosterVersion";
'''

# Execute query
df_result = pd.read_sql_query(sql_task6, con)

# Display result
if not df_result.empty:
    print(f"\nâœ… Found {len(df_result)} unique booster versions:")
    print("-" * 40)
    
    for i, row in df_result.iterrows():
        print(f"{i+1}. {row['BoosterVersion']}")
    
    print("-" * 40)
else:
    print("\nâŒ No boosters found matching all criteria")
    
    # Let's debug by checking each condition separately
    print("\nðŸ” Debugging - Checking individual conditions:")
    
    # Check 1: Successful missions
    query1 = 'SELECT COUNT(DISTINCT "BoosterVersion") FROM SPACEXTBL WHERE "Outcome" = "Success";'
    result1 = pd.read_sql_query(query1, con)
    print(f"1. Boosters with success: {result1.iloc[0,0]}")
    
    # Check 2: Drone ship landings
    query2 = '''
    SELECT COUNT(DISTINCT "BoosterVersion") 
    FROM SPACEXTBL 
    WHERE "LandingPad" LIKE '%drone%' OR "LandingPad" LIKE '%ASDS%' OR "LandingPad" LIKE '%ship%';
    '''
    result2 = pd.read_sql_query(query2, con)
    print(f"2. Boosters with drone ship: {result2.iloc[0,0]}")
    
    # Check 3: Payload mass range
    query3 = '''
    SELECT COUNT(DISTINCT "BoosterVersion") 
    FROM SPACEXTBL 
    WHERE "PayloadMass" > 4000 AND "PayloadMass" < 6000;
    '''
    result3 = pd.read_sql_query(query3, con)
    print(f"3. Boosters with payload 4000-6000 kg: {result3.iloc[0,0]}")

con.close()

================================================================================
TASK 6: Boosters with drone ship success and payload mass 4000-6000 kg
================================================================================

âŒ No boosters found matching all criteria

ðŸ” Debugging - Checking individual conditions:
1. Boosters with success: 0
2. Boosters with drone ship: 0
3. Boosters with payload 4000-6000 kg: 0

### Task 7




##### List the total number of successful and failure mission outcomes

In [21]:
import pandas as pd
import sqlite3

con = sqlite3.connect('spacex.db')

# One-liner to get outcome counts
result = pd.read_sql_query('SELECT "Outcome", COUNT(*) as Count FROM SPACEXTBL GROUP BY "Outcome" ORDER BY Count DESC;', con)
print("Mission Outcomes:")
print(result.to_string(index=False))

con.close()

Mission Outcomes:
"Outcome"  Count
  Outcome    101

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [22]:
import pandas as pd
import sqlite3

con = sqlite3.connect('spacex.db')

# One-liner to get boosters with maximum payload
result = pd.read_sql_query(
    'SELECT DISTINCT "BoosterVersion" FROM SPACEXTBL WHERE "PayloadMass" = (SELECT MAX("PayloadMass") FROM SPACEXTBL);', 
    con
)

print("Boosters with maximum payload:")
print(result.to_string(index=False))

con.close()

Boosters with maximum payload:
"BoosterVersion"
  BoosterVersion

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [24]:
import pandas as pd
import sqlite3

# Connect to database
con = sqlite3.connect('spacex.db')

print("=" * 90)
print("TASK 9: 2015 Drone Ship Failure Records with Month Names")
print("=" * 90)

# SQL query for Task 9
sql_task9 = '''
SELECT 
    substr(Date, 6, 2) as MonthNum,
    CASE substr(Date, 6, 2)
        WHEN '01' THEN 'January'
        WHEN '02' THEN 'February'
        WHEN '03' THEN 'March'
        WHEN '04' THEN 'April'
        WHEN '05' THEN 'May'
        WHEN '06' THEN 'June'
        WHEN '07' THEN 'July'
        WHEN '08' THEN 'August'
        WHEN '09' THEN 'September'
        WHEN '10' THEN 'October'
        WHEN '11' THEN 'November'
        WHEN '12' THEN 'December'
        ELSE 'Unknown'
    END as MonthName,
    "BoosterVersion",
    "LaunchSite",
    "LandingOutcome",
    "Outcome",
    "Date",
    "FlightNumber",
    "LandingPad"
FROM SPACEXTBL 
WHERE substr(Date, 0, 5) = '2015'
  AND ("LandingOutcome" LIKE '%Failure%' OR "Outcome" LIKE '%Failure%')
  AND ("LandingPad" LIKE '%drone%' OR "LandingPad" LIKE '%ASDS%' OR "LandingPad" LIKE '%ship%')
ORDER BY MonthNum, "Date";
'''

# Execute query
df_result = pd.read_sql_query(sql_task9, con)

# Display result
if not df_result.empty:
    print(f"\nðŸ“… Found {len(df_result)} drone ship failure records in 2015:")
    print("-" * 90)
    
    # Group by month for better display
    for month_num in sorted(df_result['MonthNum'].unique()):
        month_data = df_result[df_result['MonthNum'] == month_num]
        month_name = month_data['MonthName'].iloc[0]
        
        print(f"\nðŸ“… {month_name} 2015:")
        print("-" * 40)
        
        for _, row in month_data.iterrows():
            print(f"  â€¢ Flight {row['FlightNumber']}")
            print(f"    Booster: {row['BoosterVersion']}")
            print(f"    Launch Site: {row['LaunchSite']}")
            print(f"    Date: {row['Date']}")
            print(f"    Landing Pad: {row['LandingPad']}")
            print(f"    Outcome: {row['Outcome']}")
            print(f"    Landing Outcome: {row['LandingOutcome']}")
            print()
    
    # Summary statistics
    print("\nðŸ“Š SUMMARY STATISTICS:")
    print("-" * 40)
    
    # Count by month
    monthly_counts = df_result.groupby('MonthName').size()
    for month, count in monthly_counts.items():
        print(f"  {month}: {count} failure(s)")
    
    # Count by booster version
    booster_counts = df_result.groupby('BoosterVersion').size()
    print(f"\n  By Booster Version:")
    for booster, count in booster_counts.items():
        print(f"    {booster}: {count} failure(s)")
    
    # Count by launch site
    site_counts = df_result.groupby('LaunchSite').size()
    print(f"\n  By Launch Site:")
    for site, count in site_counts.items():
        print(f"    {site}: {count} failure(s)")
    
else:
    print("\nâŒ No drone ship failure records found for 2015")
    
    # Check what we do have for 2015
    print("\nðŸ” Checking 2015 data availability...")
    
    # Check total 2015 launches
    check_query = '''
    SELECT 
        COUNT(*) as Total2015Launches,
        SUM(CASE WHEN "LandingOutcome" LIKE '%Failure%' OR "Outcome" LIKE '%Failure%' THEN 1 ELSE 0 END) as TotalFailures,
        SUM(CASE WHEN "LandingPad" LIKE '%drone%' OR "LandingPad" LIKE '%ASDS%' THEN 1 ELSE 0 END) as DroneShipLaunches
    FROM SPACEXTBL 
    WHERE substr(Date, 0, 5) = '2015';
    '''
    
    check_result = pd.read_sql_query(check_query, con)
    
    if not check_result.empty:
        total = check_result['Total2015Launches'].iloc[0]
        failures = check_result['TotalFailures'].iloc[0]
        drone_ships = check_result['DroneShipLaunches'].iloc[0]
        
        print(f"  Total 2015 launches: {total}")
        print(f"  Total failures in 2015: {failures}")
        print(f"  Drone ship launches in 2015: {drone_ships}")

con.close()

==========================================================================================
TASK 9: 2015 Drone Ship Failure Records with Month Names
==========================================================================================

âŒ No drone ship failure records found for 2015

ðŸ” Checking 2015 data availability...
  Total 2015 launches: 7
  Total failures in 2015: 0
  Drone ship launches in 2015: 0

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [25]:
import pandas as pd
import sqlite3

con = sqlite3.connect('spacex.db')

# One-liner to get ranked landing outcomes
result = pd.read_sql_query(
    '''SELECT "LandingOutcome", COUNT(*) as Count, 
       RANK() OVER (ORDER BY COUNT(*) DESC) as Rank
       FROM SPACEXTBL 
       WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' 
       AND "LandingOutcome" IS NOT NULL
       GROUP BY "LandingOutcome" 
       ORDER BY Count DESC;''', 
    con
)

print("Ranked Landing Outcomes:")
print(result.to_string(index=False))

con.close()

Ranked Landing Outcomes:
"LandingOutcome"  Count  Rank
  LandingOutcome     31     1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>